@model MusicInside.ModelView.AlbumDetailViewModel

<div class="detail-common">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                Details
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <p>Title: @Model.Title</p>
                <p>Artist: @Model.Artist</p>
            </div>
            <div class="col-xs-3">
                <img class="img-rounded img-reduced" src="@Url.Action("GetCoverImage", "Album", new { id = Model.AlbumCoverFileId})" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Songs
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @foreach (var info in Model.SongInfos)
                {
                    <a href="@Url.Action("Detail", "Song", new { id = info.ID })" title="Go to Song Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @info.Title <br />
                }
            </div>
        </div>
    </div>
</div>