@model MusicInside.ModelView.AlbumDetailViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Details
            </th>
            <th>
                Cover
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>Title: @Model.Title</p>
                <p>Artist: @Model.Artist</p>
            </td>
            <td>
                <img class="img-rounded img-reduced" src="@Url.Action("GetCoverImage", "Album", new { id = Model.AlbumCoverFileId})" />
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2">
                <b>Songs</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @foreach (var info in Model.SongInfos)
                {
                    <a href="@Url.Action("Detail", "Song", new { id = info.ID })" title="Go to Song Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @info.Title <br/>
                }
            </td>
        </tr>
    </tbody>
</table>