@model List<MusicInside.ModelView.AlbumRowViewModel>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Number of Songs
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Go to Details
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => album.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => album.NumberSong)
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Artist", new { id = album.ArtistId })" title="Go to Artist Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @Html.DisplayFor(modelItem => album.ArtistName)
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Album", new { id = album.AlbumId })">
                        Go to Album
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
