@model List<MusicInside.ModelView.AlbumRowViewModel>

@section scripts{ 

}

<section class="page-list album-list"
         ng-controller="AlbumSearchController">
    <div class="row">
        <div class="music-grid">
            <div class="music-grid-item"
                 ng-repeat="album in albumList">
                <div class="albumTitle">
                    <a ng-href="#"
                       ng-bind=""
                       title="Go to Album Details">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Number of Songs
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Go to Details
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var album in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => album.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => album.NumberSong)
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Artist", new { id = album.ArtistId })" title="Go to Artist Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @Html.DisplayFor(modelItem => album.ArtistName)
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Album", new { id = album.AlbumId })">
                        Go to Album
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>*@
