<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="author" content="Alessandro Gargiulo">
    <title>@ViewData["Title"] - MusicInside</title>

    <!-- CSS ENVIRONMENT DECLARATION AND INCLUSION -->
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Cookie'
              type='text/css'>
        <!-- Custom CSS -->
        <link href="~/css/custom-style.css" rel="stylesheet" />
        <!-- Sidebar Left CSS -->
        <link rel="stylesheet" href="~/css/layout/sidebar-left.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" 
              asp-append-version="true" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
              crossorigin="anonymous">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Cookie' 
              type='text/css'>
        <!-- Custom CSS -->
        <link href="~/css/custom-style.css" rel="stylesheet" />
        <!-- Sidebar Left CSS -->
        <link rel="stylesheet" href="~/css/layout/sidebar-left.css">
    </environment>

    <!-- SCRIPT ENVIRONMENT DECLARATION AND INCLUSION -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular-js/angular.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/app.module.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"
                asp-fallback-src="~/lib/angular-js/angular.min.js">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/app/app.module.js" asp-append-version="true"></script>
    </environment>
</head>
<body ng-app="MusicInsideApp">
    <aside class="sidebar-left">
        <a class="company-logo" href="@Url.Action("Index","Home")">Logo</a>
        <div class="sidebar-links">
            <a class="link-blue" href="@Url.Action("Index","Song")">
                <i class="fa fa-music"></i>
                Songs
            </a>
            <a class="link-red" href="@Url.Action("Index","Artist")">
                <i class="fa fa-user"></i>
                Artists
            </a>
            <a class="link-yellow" href="@Url.Action("Index","Album")">
                <i class="fa fa-circle-o-notch"></i>
                Albums
            </a>
            <a class="link-green" href="@Url.Action("Index","Search")">
                <i class="fa fa-search"></i>
                Advanced Search
            </a>
            <a class="link-orange" href="@Url.Action("Contact","Home")">
                <i class="fa fa-address-card"></i>
                Contacts
            </a>
        </div>
    </aside>
    <div class="main-content">
        <!-- Page Content -->
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
