@model MusicInside.ModelView.ArtistDetailViewModel

<div class="detail-common">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9">
                Details
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <p>Art Name: @Model.ArtName</p>
                <p>Birth Year: @Model.BirthDate</p>
            </div>
            <div class="col-xs-3">
                Here, an'image, if possible.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <b>Songs</b>
            </div>
            <div class="col-xs-6">
                <b>Albums</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                @foreach (var song in Model.SongInfos)
                {
                    <a href="@Url.Action("Detail", "Song", new { id = song.ID })" title="Go to Song Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @song.Title<br />
                }
            </div>
            <div class="col-xs-6">
                @foreach (var album in Model.AlbumInfos)
                {
                    <a href="@Url.Action("Detail", "Album", new { id = album.ID })" title="Go to Album Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @album.Title<br />
                }
            </div>
        </div>
    </div>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                Details
            </th>
            <th>
                Picture
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <p>Art Name: @Model.ArtName</p>      
                <p>Birth Year: @Model.BirthDate</p>
            </th>
            <th>
                Here, an'image, if possible.
            </th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="border-right-solid">
                <b>Songs</b>
            </td>
            <td>
                <b>Albums</b>
            </td>
        </tr>
        <tr>
            <td class="border-right-solid">
                @foreach (var song in Model.SongInfos)
                {
                    <a href="@Url.Action("Detail", "Song", new { id = song.ID })" title="Go to Song Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @song.Title<br/>
                }
            </td>
            <td>
                @foreach (var album in Model.AlbumInfos)
                {
                    <a href="@Url.Action("Detail", "Album", new { id = album.ID })" title="Go to Album Details">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </a>
                    @album.Title<br/>
                }
            </td>
        </tr>
    </tbody>
</table>*@